.contacto__title.mobile{
    margin-top: 80px;
}

.contacto{
    text-align: center;
}

.contacto.datos{
    margin-bottom: 80px;
}

.contacto__title{
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #604C3A;
}

.contacto__text{
    font-family: 'Raleway';
    line-height: 1.7rem;
    margin-left: 20px;
    margin-right: 20px;
}