/* Propuestas */

.propuestas{
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
}

.propuestas__title{
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #604C3A;
}

.tarjetas__title{
    font-family: 'DM Serif Display', serif;
    font-size: 1.25rem;
    color: #604C3A;
}

.tarjetas__text{
    font-family: 'Raleway';
    line-height: 1.5rem;
    margin: 40px;
}

/* Propuestas imagen */
.propuestas__imagen{
    height: 33vh;
    background-image: url(../assets/mama-katharina.png);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: #604C3A 1px solid;
}
.propuestas__imagen-dos{
        height: 33vh;
        background-image: url(../assets/propuestas-imagen-dos.png);
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        border: #604C3A 1px solid;
}

/* Testimonios */

.testimonios{
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
}

.testimonios__title{
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #604C3A;
}

.testimonios__individuales{
    background-color: white;
    border-radius: 40px;
    border: 1px solid #604C3A;
    margin: 20px;
    padding: 20px;
}

.testimonios__text{
    font-family: 'Raleway';
    line-height: 1.7rem;
}

/* Propuestas Botón*/
.btn__solicitarencuentro{
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (min-width: 1200px){

    .tarjetas{
        display: flex;
    }
    .tarjetas__texto-btn{
        width: 40%;
        text-align: start;
    }

    .tarjetas__title{
        width: 35%;
        margin-left: 150px;
        text-align: start;
    }

    .tarjetas__text{
        margin-top: 0;
    }

    .testimonios__tarjetas{
        gap: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .testimonios__individuales{
        width: 330px;
        margin: 0;
        margin-top: 20px;
    }

}
