/* RESETEO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    background-color: #f6f6f6;
}

// En todas las páginas

.signature{
    background-color: white;
    padding-left: 30px;
    padding-bottom: 10px;
    &__text{
        font-family: 'Raleway';
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.59);
    }
}